<br>
<br>
<br>
<br>
<div class="Bigbox">
  <div class="roomboxglobal">

    {{#each room}}
    <div class="card Bigbox" style="width: 25rem;  ">

      <a href="/room/{{_id}}" class="roomboxlink">
        <div>
          <div class="card-body">
            <h5 class="card-title black"> {{title}}</h5>
{{!--             <p class="card-text">Propietario:{{author}}</p> --}}
          </div>
          <img src="{{testimageUrl}}" class="card-img-top" alt="...">
          <h10 class="card-title black margintitle">| {{housetype}} || {{roomsize}} m2 en cuarto || {{housesize}} m2 de casa |
          </h10>
          <p class="card-text">.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Renta:</strong> {{renta}} $/mes</li>
          <li class="list-group-item"><strong>Mantenimiento:</strong> {{#if maintenimiento}}Incluido! {{else}} No Incluido! {{/if}}</li>
          <li class="list-group-item"><strong>Servicios:</strong> {{#if servicios}}Incluido! {{else}} No Incluido! {{/if}}</li>
        </ul>
      </a>
    </div>
   
      {{/each}}
  </div>



</div>

<iframe class="maplistimg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481728.80465062865!2d-99.42382104334503!3d19.390519015859844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2zQ2l1ZGFkIGRlIE3DqXhpY28sIENETVgsIE3DqXhpY28!5e0!3m2!1ses!2sve!4v1621455527833!5m2!1ses!2sve" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>