<br>
<br>
<br>
<br>
<div class="Bigbox">
  <div class="roomboxglobal">

    {{#each room}}
<div class="card" style="width: 18rem;">
  
  <a href="/room/{{_id}}" class="roomboxlink">
    <div class="card-body">
    <h5 class="card-title black">  {{title}}</h5>
    <p class="card-text">Propietario:{{author}}</p>
  </div>
  <img src="{{testimageUrl}}" class="card-img-top" alt="...">
  <h10 class="card-title black">| {{housetype}} || {{roomsize}} m2 en cuarto || {{housesize}} m2 de casa | </h10>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">

  </div>
  </a>
</div>
{{/each}}

    {{#each room}}
      <div>
          <div class="roomboxbig">
        <a href="/room/{{_id}}" class="roomboxlink">
          <div class="room_box">

            <h5 class="Roomboxtitle">
              {{title}}
            </h5>
            <h6 class="Roomboxtitle">Propietario:{{author}}
            </h6>
            <div>
              <img src="{{testimageUrl}}" class="roomlistimg" />
            </div>
            <div class="roomsubbox1">
              <div class="subimagelistbox">| {{housetype}}</div>
              <div class="subimagelistbox">|| {{roomsize}} m2 en cuarto</div>
              <div class="subimagelistbox">|| {{housesize}} m2 de casa</div>
            </div>
            <div class="roomboxsubtitle">
              <h5> Gastos:</h5>
            </div>
            <div class="roomsubbox">
              <div class="roomsubtinybox">
                <div>Renta</div>
                <div class="buttonroomlist">{{rent}} $/mes</div>
              </div>
              {{#if maintenance}}
                <div class="roomsubtinybox">
                  <div>Mantenimiento</div>
                  <div class="buttonroomlist">Incluido!</div>
                </div>
              {{/if}}
              {{#if servicios}}
                <div class="roomsubtinybox">
                  <div>Servicios</div>
                  <div class="buttonroomlist">Incluido!</div>
                </div>
              {{/if}}
            </div>
          </div>
        </a>
        </div>
      </div>

    {{/each}}
  </div>
 {{!--  <img
    class="maplistimg"
    src="https://miro.medium.com/max/4064/1*qYUvh-EtES8dtgKiBRiLsA.png"
  /> --}}
</div>